{% extends 'base.html.twig' %}

{% block title %}Accueil Bois Guilbaud{% endblock %}

{% block body %}
<main>
    <section>
        <div class="image-container">
            <div class="containertext">
                <h1>BOIS GUILBAUD</h1>
                <p>à votre service depuis 30 ans</p><br>
                <button class="button1"><a class="link" href="{{ path('app_contact' ) }}">Contactez-nous par mail</a></button>
                <button class="button2"><a class="link" href="{{ path('app_contact' ) }}">05 46 42 31 30</a></button>
            </div>
        </div>
    </section>
    <section>
     <section class="produits">
        <h2>Nos Produits et Services</h2>
{#        <div class="produitsrow">
            <div class="produitsitem">
            <a href="{{ path('app_bois_buches') }}"><img src="{{ asset('images/boisbuches.png') }}" alt="bois buche"></a><br>
                <a href="{{ path('app_bois_buches') }}">Bois Bûches</a><br>
                <p>Notre bois de chauffage a été sélectionné pour sa qualité.
                Bois 100% feuillus en charme, hêtre, chêne ou frêne.</p>
            </div>
            <div class="produitsitem">
                <a href="{{ path('app_allumage') }}"><img src="{{ asset('images/allumage.png') }}" alt="allumage"></a><br>
                <a href="{{ path('app_allumage') }}">Allumage</a><br>
                <p>Pour vous faciliter l'allumage de vos feux. Nous vous proposons
                des allumes-feu écologique et du petit bois d'allumage, c'est par ici !</p>
            </div>
            <div class="produitsitem">
                <a href="{{ path('app_cuisson') }}"><img src="{{ asset('images/granulesdebois.png') }}" alt="cuisson"></a><br>
                <a href="{{ path('app_cuisson') }}">Cuisson</a><br>
                <p></p>
            </div>
            <div class="produitsitem">
                <a href="{{ path('app_granules') }}"><img src="{{ asset('images/granulesdebois.png') }}" alt="granulés de bois"></a><br>
                <a href="{{ path('app_granules') }}">Granulés de Bois</a><br>
                <p>Nos granulés de bois sont DIN + et de fabircation fançaise afin de
                vous garantir la meilleure qualité de pellets.</p>
            </div>
        </div>
        <div class="produitsrow">
            <div class="produitsitem">
            <a href="{{ path('app_brazero') }}"><img src="{{ asset('images/ooni.png') }}" alt="Ooni"></a><br>
                <a href="{{ path('app_brazero') }}">Ooni</a><br>
                <p></p>
            </div>
            <div class="produitsitem">
            <a href="{{ path('app_brazero') }}"><img src="{{ asset('images/brasero.jpg') }}" alt="Brasero"></a><br>
                <a href="{{ path('app_brazero') }}">Brasero</a><br>
                <p></p>
            </div>
            <div class="produitsitem">
            <a href="{{ path('app_brazero') }}"><img src="{{ asset('images/abribuches.jpg') }}" alt="Abri Buches"></a><br>
                <a href="{{ path('app_brazero') }}">Abri Buches</a><br>
                <p></p>
            </div>
        </div>
        <div class="produitsrow">
            <div class="produitsitem">
            <a href="{{ path('app_ramonage') }}"><img src="{{ asset('images/ramonage.jpg') }}" alt="Ramonage"></a><br>
                <a href="{{ path('app_ramonage') }}">Ramonage</a><br>
                <p></p>
            </div>
            <div class="produitsitem">
                <a href="{{ path('app_elagage') }}"><img src="{{ asset('images/elagageabattage.png') }}" alt="elagage abattage"></a><br>
                <a href="{{ path('app_elagage') }}">Elagage-Abattage</a><br>
                <p>Nous disposons d'une expérience dans l'élagage et l'abattage.
                Nous procédons environ à une soixantaine de chantiers par an.</p>
            </div>
            <div class="produitsitem">
                <a href="{{ path('app_rognage') }}"><img src="{{ asset('images/rognagesouche.png') }}" alt="rognage souche"></a><br>
                <a href="{{ path('app_rognage') }}">Rognage souche</a><br>
                <p>Le rognage des souches n'a pas de secret pour nous . Nous possédons
                une rogneuse FSI Frankan B-30.</p>
            </div>
        </div> #}

        <div class="produitsrow">
            <div class="produitsitem">
            <a href="{{ path('app_bois_buches') }}"><img src="{{ asset('images/boisbuches.png') }}" alt="bois buche"></a><br>
                <a href="{{ path('app_bois_buches') }}">Bois Bûches</a><br>
                <p>Notre bois de chauffage a été sélectionné pour sa qualité.
                Bois 100% feuillus en charme, hêtre, chêne ou frêne.</p>
            </div>
            <div class="produitsitem">
                <a href="{{ path('app_granules') }}"><img src="{{ asset('images/granulesdebois.png') }}" alt="granulés de bois"></a><br>
                <a href="{{ path('app_granules') }}">Granulés de Bois</a><br>
                <p>Nos granulés de bois sont DIN + et de fabircation fançaise afin de
                vous garantir la meilleure qualité de pellets.</p>
            </div>
            <div class="produitsitem">
                <a href="{{ path('app_allumage') }}"><img src="{{ asset('images/allumage.png') }}" alt="allumage"></a><br>
                <a href="{{ path('app_allumage') }}">Allumage</a><br>
                <p>Pour vous faciliter l'allumage de vos feux. Nous vous proposons
                des allumes-feu écologique et du petit bois d'allumage, c'est par ici !</p>
            </div>
            <div class="produitsitem">
                <a href="{{ path('app_elagage') }}"><img src="{{ asset('images/elagageabattage.png') }}" alt="elagage abattage"></a><br>
                <a href="{{ path('app_elagage') }}">Elagage-Abattage</a><br>
                <p>Nous disposons d'une expérience dans l'élagage et l'abattage.
                Nous procédons environ à une soixantaine de chantiers par an.</p>
            </div>
            <div class="produitsitem">
                <a href="{{ path('app_rognage') }}"><img src="{{ asset('images/rognagesouche.png') }}" alt="rognage souche"></a><br>
                <a href="{{ path('app_rognage') }}">Rognage souche</a><br>
                <p>Le rognage des souches n'a pas de secret pour nous . Nous possédons
                une rogneuse FSI Frankan B-30.</p>
            </div>
            
            <div class="produitsitem">
                <a href="{{ path('contact_index') }}"><img src="{{ asset('images/devis.png') }}" alt="devis sur mesure"></a><br>
                <a href="{{ path('contact_index') }}">Devis sur mesure</a><br>
                <p>Nos devis sont adaptés à vos besoins et vos attentes !
                Faites appel à nos services !</p>
            </div>
        </div>
    </section>
    <div class="nouveaute">
        <h2>Nouveauté 2024</h2>
        <div class="row">
            <div class="item">
                {# <img src="{{ asset('images/logo.png') }}" alt="logo"> #}
                <h3>Nouveau magasin et nouveau site internet</h3>
                <p>
                Bois Guilbaud propose une gamme élargie des produits de chauffage , d'allumage jusqu'au
                barbecue pour l'été . Le nouveau magasin d'usine de 120m2 est ouvert du lundi au vendredi
                de 9h-12h et 14h-17h30 (16h30 le vendredi) au 6 rue David Oualle, 17000 La Rochelle.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="item">
                <h3>Le retour du ramonage le 1er juillet 2024</h3>
                <p>
                Notre collaborateur Brian , présent depuis plusieurs années va passer son diplôme d'état
                en juin pour se qualifier en tant que Ramoneur Certifié Costic .<br>
                Notre activité de ramonage sera en place dès le 1er juillet. Vous trouverez de nombreux
                avantages pour notre clientèle habituelle , remise sur le ramonage , conseils pratique du
                ramonage et suivi de votre stock de bois .
                </p>
            </div>
        </div>
    </div>
    </section>
    <section class="economique">
        <h2>Pack Economique</h2>
         <div class="centero">
            <div class="itemeconomique">
            <p>
            En place dès cet été , <b>le Pack Economique</b> permettra à nos cients réguliers d'obtenir :<br>
            - la remise quantitatives ( à partir de 8 stères ) dès 4 stères commandés .<br>
            - un petit cadeau à chaque commande à partir de 2 stères commandés .<br>
            - remise de 10% sur le 1er ramonage, 25% sur le 2ème ramonage .<br>
            </p>
        </div>
         </div>
    </section>
    <section class="description">
        <h2>Bienvenue chez<br><span style="color:#f6b730; font-size:130%;"> BOIS GUILBAUD</span></h2><br>
        <div class="descriptiontext">
            <p>La SARL BOIS GUILBAUD, est une entreprise familiale située à La Rochelle.<br><br>
            <span>Depuis plus de 30 ans,</span> notre spécialité est la <span>vente de bois bûches, </span>
            en livraison ou à prendre sur place, à destination des particuliers et des professionnels.
            Soucieux de satisfaire au mieux notre clientèle, <span>nous commercialisons du bois
            de qualité principalement chêne er charme en provenance des régions Charente, Dordogne et Touraine.</span>
        </p>
        <p>
        Nous effectuons également les <span>travaux d'élagage et d'abattage d'arbre sur tous types.</span>
        Notre savoir-faire, notre ponctualité ainsi que la propreté de nos chantiers font de nous un acteur majeur sur la CDA Rochelaise.
        </p> 
        </div>
        <div class="change">
            <div class="changers">
                <p id="annee" class="changerstext">{{ changers[0].annee }}</p>
                <p>Années d'expérience</p>
            </div>
            <div class="changers">
                <p class="changerstext">{{ changers[0].steres }}</p>
                <p>Stères par an</p>
            </div>
            <div class="changers">
                <p class="changerstext">{{ changers[0].livraisons }}</p>
                <p>Livraison par an</p>
            </div>
            <div class="changers">
                <p class="changerstext">{{ changers[0].chantiers }}</p>
                <p>Chantiers réalisés</p>
            </div>
        </div>
    </section>
    <section>
        <div class="nouschoisir">
            <div class="first">
                <img src="{{ asset('images/hache.jpg') }}" alt="pourquoi nous choisir">
            </div>
            <div class="second">
                <h2>Pourquoi nous choisir</h2><br>
                <p>Si l'entreprise Bois Guilbaud existe et perdure depuis plus de 30ans, c'est que nous
                sommes engagés sur les points suivants :
            </p>
            <ul>
                <li><img src="{{ asset('images/check.png') }}" alt="check">Qualités de nos produits avec une gamme complète</li>
                <li><img src="{{ asset('images/check.png') }}" alt="check">Expertise et professionalisme de nos domaines</li>
                <li><img src="{{ asset('images/check.png') }}" alt="check">Ponctualités et rigueur de nos livraisons et chantiers</li>
                <li><img src="{{ asset('images/check.png') }}" alt="check">Propreté et tenue irréprochable de nos équipes</li>
            </ul>
            </div>
        </div>
    </section>
</main>
{% endblock %}
