{% extends 'base.html.twig' %}

{% block title %}Fagots
{% endblock %}

{% block body %}
	<main>
		<section class="titre">
			<h1>Fagots</h1>
		</section>

		<section>
			<div
				class="allitems">
				{# boucle pour afficher tout les produits de type fagots #}
				{% for item in products['fagots'] %}
					<form class="formitem" action="{{ path('cart_add', { id: item.id }) }}" method="post">
						<div class="items">
							<h1>{{ item.name }}</h1>
							<p class="test">{{ item.description }}</p>
							{% if item.imageName is not null %}
								<img src="{{ asset('images/items/' ~ item.imageName) }}" alt="{{ item.name }}" class="product-image">
							{% endif %}
							<div class="others">
								<label>Longueur</label>
								<select class="longueurSelect">
									{% if item.premierelongueur is not null and item.premierelongueur is not empty %}
										<option value="{{ item.surplacepremierprix }}">{{ item.premierelongueur }}</option>
									{% endif %}
									{% if item.deuxiemelongueur is not null and item.deuxiemelongueur is not empty %}
										<option value="{{ item.surplacedeuxiemeprix }}">{{ item.deuxiemelongueur }}</option>
									{% endif %}
									{% if item.troisiemelongueur is not null and item.troisiemelongueur is not empty %}
										<option value="{{ item.surplacetroisiemeprix }}">{{ item.troisiemelongueur }}</option>
									{% endif %}
								</select>
								<label>Livraison</label>
								<select class="livraisonSelect">
									{% if item.surplace is not null and item.surplace is not empty %}
										<option value="{{ item.livraisonpremierprix }}">{{ item.surplace }}</option>
									{% endif %}
									{% if item.livraison is not null and item.livraison is not empty %}
										<option value="{{ item.livraisondeuxiemeprix }}">{{ item.livraison }}</option>
									{% endif %}
								</select>
								<label>Quantité</label>
								<input type="number" name="quantite" class="quantite">
								<p name="priceDisplay" class="priceDisplay">Prix : 0 €</p>
								<input type="hidden" name="prixfinal" class="prixfinal">
								<button type="submit">Commander</button>
							</div>
						</div>
					</form>
				{% endfor %}
			</div>
		</section>

	</section>

	<section class="fagotsitems">
		<p>Bois Guilbaud vous propose du petit bois d’allumage à la bûche traditionnelle en divers
			conditionnement. Nous avons forcément la solution à votre besoin.
		</p>
	</section>
	<section class="demande">
		<p style="color:white;">Sac d’allume-feux naturel en filet. Démarrer facilement votre cheminée,
			poêle ou bien encore insert grâce à nos éclats de bois maison, issus du tri après la
		    transformation de nos billons de bois en bûche, mais également de notre machine de production
			spécifique. Existe en 20 et 50 litres.
		</p>
		<p style="color:#f6b730">Chez nous c'est un vrai volume !! 20 litres 4 € / 50 litres 7 €<br>
			Pour l'achat de 5 sacs le 6ème est offert.
		</p>
	</section>
</main>
<script src="{{ asset('js/listing.js') }}"></script>
{% endblock %}
